# =============================================================
# .gitignore - PROJECT: NOTE MANAGEMENT
# =============================================================

# System files
# -------------------------------------------------------------
.DS_Store
Thumbs.db
*.log

# Docker / Infrastructure
# -------------------------------------------------------------
# KHÔNG đẩy dữ liệu thực tế của DB lên Git
docker/mysql_data/
nginx/*.log



# IDE / Editor specific
# -------------------------------------------------------------
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Agent / Tooling
# -------------------------------------------------------------
.agent/
.gemini/
