.env
vendor
node_modules
storage/logs/*
storage/framework/sessions/*
storage/framework/cache/*
storage/framework/views/*
.git
.github
Dockerfile
docker-compose.yml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.vscode
